* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  __font-family: $serif-primary;
  font-family: 'Open Sans', sans-serif; 
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

input[type=text],
input[type=email] {
  border: 1px solid #888;
  border-radius: 4px;
  width:300px;
  padding: 4px 8px;
  margin: 8px 4px;
}

.subscr_btn {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    __font-size: 20px;
    font-weight: 600;
    padding: 12px;
    background-color: #4F4F4F;
    box-shadow: 0px 4px 0px 0px #292929;
    -webkit-box-shadow: 0px 4px 0px 0px #292929;
    -moz-box-shadow: 0px 4px 0px 0px #292929;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.subscr_btn:hover {
    background: #474747;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: 'Open Sans', sans-serif; 
  __font-family: $sans-serif;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
  padding-right:10px;
  padding-left:10px;
}

.post_cover_img {
       display:block;
       vertical-align: top;
}

.post_box {
       display:block;
       vertical-align: top;
}

@media only screen and (min-width: 600px) {
    .post_cover_img {
       display:inline;
    }
    
    .post_box {
       display:inline;
       max-width:590px;
    }
}

