---
layout: default
---

<div class="catalogue-banner">
<h1 class="catalogue-title" style="text-align:center; color:white;"> LVGL's Blog is Open for Everyone </h3>
</p>
<p style="text-align:center; font-size:18px; line-height: 28px; max-width:800px; margin:auto">
Do you have an interesting project? Ported LVGL to a new hardware? Do you know a great trick? 
You can add your post here to share your knowledge with others. Learn more <a href="https://github.com/lvgl/blog">here</a>.
</p>
</div>

<div class="catalogue">
  {% for post in paginator.posts %}
   <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
     <div style=" border-bottom: 1px solid #eee; padding: 64px 0px;">
         {% if post.cover %}
           <img class="post_cover_img" src="{{ post.cover }}" height="200px" width="200px" border="1px" style="border: 0px solid #ddd; margin:0 12px 0 0;">
         {% else %}
           <img class="post_cover_img" src="{{ site.cover }}" height="200px" width="200px" border="1px" style="border: 0px solid #ddd; margin:0 12px 0 0;">
         {% endif %}
        
         <div class="catalogue-item post_box"> 
           <h1 class="catalogue-title">{{ post.title }}</h1>
           <div class="catalogue-line"></div>
           <p> {{ post.content | strip_html | truncatewords: 30 }} </p>
           <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
         </div>
     </div>
   </a>   
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
