---
layout: default
---

<div class="post" style="overflow-x: auto;">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>
  
  {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>

<link rel="stylesheet" type="text/css" href="/assets/fontawesome.min.css">

<script>

window.onload = function () {
    var tags = [ "h1","h2","h3", "h4", "h5", "h6" ];
    var h;

    for(var i = 0; i < tags.length; i++) {
        h = document.getElementsByTagName(tags[i]);
        for(j = 0; j < h.length; j++) {
            if(h[j].id) {
                var x = "<a href='#" + h[j].id + "' style='color:#353535' onmouseover='mouse_in(this)' onmouseout='mouse_out(this)'>" + h[j].innerHTML + "</a>";
                h[j].innerHTML = x; 
                
            }
        }
    }  
}

function mouse_in(that)
{
  let h = that.parentNode
 
    h.classList.add("h_link");
 
}

function mouse_out(that)
{
  let h = that.parentNode
  h.setAttribute('after_link','');

  h.classList.remove("h_link");
}
</script>
